.Dropdown {
  position: relative;
  font-size: 1.6rem;
  line-height: 1.6rem;
  height: 100%;
  color: gray;
  cursor: pointer;

  // dropdown trigger button  
  & > div {
    padding-left: 2rem;
    height: 100%;
    line-height: 4.8rem;
  }

  i {
    display: inline-block;
    position: absolute;
    right: 8%;
    transform: translateY(-50%);
    top: 50%;
  }
  
  ul {
    position: fixed;
    padding-left: 1.5rem;
    z-index: 1;
    background: #fff;
    list-style: none;


    li {
      padding: .5rem;
    }
  }
}