body {
  font-family: "Open Sans";

  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #575B71;

}

b {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}
.nav {
  height: 57px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav_table{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 57px 65% auto auto;
  grid-column-gap: 0;

}

.nav_row{
  display: inline-grid;
  border: 1px solid #D0D6E1;
}

#nav_logo_content {
  padding-left: 12px;
  padding-top: 12px;
  overflow: hidden;
}
.title_heading {
  line-height: 55px;
  padding-left: 12px;
}
.title_content {
  line-height: 55px;
  text-align: center;
}

.main {
  background-color: #575B71;
  height: 100%;
  width: 100%;
  padding-bottom: 10%;
}

.content {
  display: inline-block;
  margin-top: 40px;
  margin-left: 9%;
  background-color: #FFFFFF;
  border: 2px;
  width: 80%;
  height: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.search_container {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 180px auto 40px;
  grid-column-gap: 0;
}

.search_row {
  display: inline-grid;
  /* border: 1px solid #D0D6E1; */
}
#search_select, #search_input {
  color: inherit;
  padding-left: 12px;
  font: inherit;
}

#search_select {
  border: 1.5px solid #D0D6E1;
  border-top-left-radius: 5px;
   background-image:
     linear-gradient(45deg, transparent 50%, gray 50%),
     linear-gradient(135deg, gray 50%, transparent 50%),
     linear-gradient(to right, #ccc, #ccc);
   background-position:
   calc(55% - 20px) 1.7em,
 calc(55% - 15px) 1.7em,
 0;
   background-size:
     5px 5px,
     5px 5px,
     1px 1.5em;
   background-repeat: no-repeat;
}

#search_select:focus{
  background-image:
      linear-gradient(45deg, #575B71 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, #575B71 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
    calc(55% - 15px) 1.7em,
  calc(55% - 20px) 1.7em,
  0;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;

    outline: 0;
}

#search_input {
  border: 1.5px solid #D0D6E1;
  border-right: 0px;
}
#search_button{
  border: 0;
  border-top-right-radius: 5px;
  border-top: 1.5px solid #D0D6E1;
  border-bottom: 1.5px solid #D0D6E1;
  background: #FFFFFF;

}
#reset_button{
  border: 0;
  border-top-right-radius: 5px;
  border-top: 1.5px solid #D0D6E1;
  border-bottom: 1.5px solid #D0D6E1;
  background: #FFFFFF;

}

.table_header {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 35% 16.25% 16.25% 16.25% 16.25%;
  grid-column-gap: 0;
}
.table_header_title, .table_header_content {
  display: inline-grid;
  border: 1px solid #D0D6E1;
  border-bottom: 1.5px solid #000000;
  line-height: 60px;
  font-weight: bold;
  height: 60px;
  overflow-y: hidden;
}

.table_header_title {
  padding-left: 12px;
}

.table_header_content{
  text-align: center;
}

.table_row, .table_row_district, .table_row_township {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 35% 16.25% 16.25% 16.25% 16.25%;
  grid-gap: 0;
}

.table_row_district, .table_row_township {
  display: none;
}

.table_row_data_1, .table_row_data_2, .table_row_data_3, .table_row_data_4, .table_row_title{
  border: 1px solid #D0D6E1;
  line-height: 60px;
  display: inline;
}

.table_row_data_1, .table_row_data_2, .table_row_data_3, .table_row_data_4{
  text-align: center;
}

.table_row_title{
  padding-left: 12px;
}

.table_row_district .table_row_title{
  padding-left: 36px;
}

.table_row_township .table_row_title{
  padding-left: 60px;
}

.table_row_title_content{
  display: inline;
  overflow-x: hidden;
}

.table_row_state_select, .table_row_district_select {
  float: right;
  padding-right: 24px;
  width: 110px;

}

[drop_down="enabled"] {
  background-color: #dbdfeb;


}
[drop_down="disabled"] {
  background-color: inherit;
}

.select_left {
  float: left;
  text-align: left;
}

.select_right {
  float: right;
  text-align: right;
}
