body{
	background-color: #575B71;
}
/* 页眉样式 */
header{
	width: 100%;
	height: 56px;
	background-color: #fff;
	font: 16px;
	color:#575B71;
}
header span{
	line-height: 56px;
}
.title{
	margin-left: 20px
}
ul{
	display: inline;
	float: right;
}
ul li{
	line-height: 56px;
	list-style: none;
	display: inline-block;
	width: 180px;
	text-align: center;
}
.liClick{
	background: #F0F2F8;;
}

/* 中间主体 */
.main{
	width: 1020px;
	margin: 42px auto;
}
.filter{
	width: 100%;
	height: 49px;
	background-color: #fff;
	border-bottom: 1px solid #D0D6E1;
}
.filSelect{
	width: 141px;
	height: 49px;
	color: #ccc;
	font-size: 14px;
	padding: 0 10px 0 10px;
	border: none;
	border-right: 1px solid #D0D6E1;
}
.filInput{
	width: 820px;
	height: 47px;
	padding-left: 20px;
	border: none;
}
.tableDiv,.table{
	background-color: #fff;
	width: 100%;
}
.table tr{
	border-bottom: 1px solid #D0D6E1;
}

.table td,
.table th{
	text-align: center;
	padding: 10px 0 10px 0;
	color: #575B71 ;
	font-size: 14px;
	border-right: 1px solid #D0D6E1; 
}
.tdFir{
	width: 260px;
	text-align: left !important;
}
.trFir{
	font-weight: bolder;
	border-bottom: 2px solid #D0D6E1 !important;
}
.initials{
	display: inline-block;
	text-align: center;
	color: #fff;
	width: 15px;
	height: 16px;
	line-height: 15px;
	border-radius: 7.5px;
	margin:0 10px 0 10px;
	background-color: #897AD0;
}
.downPng{
	width: 15px;
	height: 15px;
	border-radius: 3px;
	margin-left: 20px;
}
.tip{
	display: inline-block;
	float: right;
	width: 100px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	padding: 3px 7px 3px 7px;
	transform: scale(0.8,0.8) !important;
	background-color: #DBDFEB;
	border-radius: 2px;
	color: #81869C;
	margin-left: 20x;
}
.tip .plusAnddown{
	width: 12px;
	height: 12px;
	margin-top: 5px;
	float: right;
}
tr[class^="levelone"] .tdFir{
	 padding-left: 10px !important; 
}
tr[class^="leveltwo"] .tdFir{
	padding-left: 30px !important;
}
tr[class^="levelthree"] .tdFir{
	padding-left: 50px !important;
}