// color
$color-primary-dark: #8a8a8a;
$color-primary-light: #eaeaea;
// size
$scale: 100vw/1440;
$size-icon: 16px;
$top-bar-height: 60px;
$gap: 10px;
// breakpoints
$xs: 350px;
$sm: 576px;
$md: 768px;
$lg: 992px;
