@import "reset";
@import "config";

.App {
  padding: $top-bar-height + $gap $top-bar-height;
  position: relative;
}

.gallery {
  column-gap: $gap;

  .card-container {
    width: 100%;
    margin-bottom: $gap;
    border-radius: $gap;
    background-color: $color-primary-light;
    break-inside: avoid;
  }
}

// card component
.card {
  width: 100%;
  display: block;
  border-radius: $gap;
  position: relative;
}
.icon {
  height: $size-icon;
  width: auto;
}

// topbar component
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: $top-bar-height;
  box-shadow: 0px 4px 8px rgba(103, 102, 102, 0.25);
  display: flex;
  align-items: center;
  padding: 0 3.125vw;
  justify-content: flex-end;
  background: white;
}

.search-field {
  max-width: 200px;
  height: 36px;
  background: $color-primary-light;
  border-radius: 19.5px;
  border: none;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    background-color: transparent;
    border: none;
    width: 80%;
  }
}

// nav component
.nav {
  display: flex;
  margin-left: 20px;
  .nav-link {
    width: 36px;
    height: 36px;
    margin-left: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $color-primary-light;
    }
    .nav-link-icon {
      width: auto;
      height: 20px;
    }
  }
}

@media (max-width: $sm) {
  .gallery {
    column-count: 1;
  }
  .top-bar {
    justify-content: space-between;
  }
}
@media (min-width: $sm) and(max-width:$md) {
  .gallery {
    column-count: 2;
  }
}
@media (min-width: $md) and(max-width:$lg) {
  .gallery {
    column-count: 4;
  }
}
@media (min-width: $lg) {
  .gallery {
    column-count: 6;
  }
}
