.filter {
  width: 10rem;
  position: relative;
  flex-shrink: 0;

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 4px 4px;
    width: 10rem;

    li + li {
      border-top: 1px solid var(--brand-lighter);
    }
  }

  &__item {
    display: block;
    padding: 0.75rem;
    height: auto;
    border-radius: 0;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 150ms ease;

    &:hover {
      background-color: var(--brand-lighter);
    }
  }
}
