@import '../../styles/variables.scss';

.container {
  display: inline-block;

  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);

  .icon {
    display: inline-block;
    background-color: $color-purple;
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: $color-white;
    margin: 0 .5rem 0 1rem;

  }

  .name {
    display: inline-block;
    
  }
}

// indentation before district-level cell region name
.DIndentation {
  margin-left: 2rem;
  height: 0.9rem;
}
// indentation before township-level cell region name
.TIndentation {
  margin-left: 4rem;
  height: 0.9rem;
}


// download image
.download {
  margin-left: .8rem;
  display: inline-block;
  background-color:$color-green;
  height: 2rem;
  width: 2rem;
  border-radius: 2px;
  cursor: pointer;

  img {
    transform: translate(5px, 1px); // adjust download img to the center
  }
}