body {
	text-align: center;
	background-color: #575b71;
	height: 100%;
	.ContentArea {
		background-color: white;
		box-shadow: 0 0 1px #000;
		margin-top: 40px;
		width: 1020px;
		text-align: left;
		display: inline-block;
	}
}
