* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: sans-serif;
  font-size: 14px;
  color: #575B71;
  line-height: 1;
  background: #575B71;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

header {
  height: 56px;
  line-height: 56px;
  background: #FFFFFF;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.10);
  span {
    display: inline-block;
    height: 56px;
  }
  a {
    float: right;
    border-left: 1px solid #D0D6E1;
    width: 190px;
    text-align: center;
    font-size: 16px;
    &.active {
      background: #F0F2F8;
    }
  }
}

.avatar {
  float: left;
  margin-right: 20px;
  height: 56px;
  width: 56px;
  border-right: 1px solid #D0D6E1;
  text-align: center;
  img {
    width: 30px;
    height: 32px;
    margin-top: 12px;
  }
}

.wrap {
  margin: 40px auto;
  width: 1020px;
  line-height: 48px;
  background: #fff;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.10);
  border-radius: 2px;
}

.filter {
  border: 1px solid #D0D6E1;
  color: #ADB4C3;
  select,
  input,
  button {
    height: 50px;
    line-height: 48px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background: #fff;
    border-radius: 0;
  }
  select {
    position: relative;
    border-right: 1px solid #D0D6E1;
    padding-left: 20px;
    width: 140px;
  }
  input {
    width: 820px;
    padding-left: 20px;
  }
  button {
    float: right;
  }
  img {
    margin-top: 13px;
    width: 24px;
    cursor: pointer;
  }
}

.select-wrap {
  position: relative;
  float: left;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 0;
    height: 0;
    border-top: 4px solid #000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transform: translateY(-50%);
  }
}

.table-header {
  width: 100%;
  border-bottom: 2px solid #575B71;
}

.table-item {
  width: 100%;
  border-top: 1px solid #D0D6E1;
  >.table-item {
    border-left: none;
  }
}

.table-header div,
.table-item div {
  float: left;
  border-left: 1px solid #D0D6E1;
  text-align: center;
}

.table-header div:nth-child(1),
.table-item div:nth-child(1) {
  padding-left: 20px;
  width: 380px;
  text-align: left;
}

.table-header div:nth-child(2),
.table-item div:nth-child(2) {
  width: 150px;
}

.table-header div:nth-child(3),
.table-item div:nth-child(3) {
  width: 170px;
}

.table-header div:nth-child(4),
.table-item div:nth-child(4) {
  width: 170px;
}

.table-header div:nth-child(5),
.table-item div:nth-child(5) {
  width: 150px;
}

.table-item>.table-item div:nth-child(1) {
  padding-left: 30px;
}

.table-item>.table-item div:nth-child(1)::before {
  content: '';
  float: left;
  margin-top: 20px;
  margin-right: 10px;
  width: 6px;
  height: 6px;
  border-left: 1px solid #D0D6E1;
  border-bottom: 1px solid #D0D6E1;
}

.table-item>.table-item>.table-item div:nth-child(1) {
  padding-left: 50px;
}

.download-icon {
  margin-left: 10px;
  vertical-align: middle;
  width: 20px;
}

.table-itemClass {
  float: left;
  margin-top: 15px;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background: #897AD0;
  border-radius: 50%;
}

.table-itemName {
  display: inline-block;
  width: 75px;
}

.extend-btn {
  position: relative;
  float: right;
  margin-top: 11px;
  margin-right: 20px;
  padding-left: 10px;
  height: 26px;
  width: 110px;
  line-height: 26px;
  font-size: 12px;
  background: #F0F2F8;
  border-radius: 2px;
  cursor: pointer;
  &::before,
  &::after {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -10px;
    font-size: 16px;
    line-height: 16px;
    color: #949494;
  }
  &::before {
    content: '-';
    display: none;
  }
  &::after {
    content: '+';
  }
  &.active::before {
    display: block;
  }
  &.active::after {
    display: none;
  }
}
.noResults {
  padding: 10px ;
  text-align: center;

  span {
    color: #000;
    font-size: 16px;
  }
}