.gallery {
  max-width: 1200px;
  padding: 18px 20px;
  margin: 0 auto;
  columns: 6;
  column-gap: 14px;

  @media screen and (max-width: 576px) {
    columns: 2;
  }

  @media screen and (min-width: 576px) and (max-width: 768px) {
    columns: 3;
  }

  @media screen and (min-width: 768px) and (max-width: 992px) {
    columns: 4;
  }
}
