.item-title
  position relative
  
  .subitem-toggle
    cursor    pointer
    position  absolute
    right    0
    top      12px
    background-color  $light-gray
    line-height   normal
    padding   5px
    
  &.item-district
    padding-left   15px
    
  &.item-township
    padding-left    30px