.table-control
  border-bottom 1px solid $border-gray
  .form-group
    width 75%
    
    &:first-child
      width   15%
      border-right 1px solid $border-gray 
      
    &:last-child
      width   10%
      text-align  center
      
  input
    border none
    padding 5px 10px