@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* line 12, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #575b71;
  font: 100% Open Sans, sans-serif;
  color: #575b70; }

/* line 21, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
#header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: #ffffff;
  box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.64); }
  /* line 29, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
  #header #logo {
    margin-left: 10px;
    padding: 0 10px;
    width: 30px; }
  /* line 34, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
  #header #headline {
    font-size: 16px;
    margin-left: 10px;
    width: 70%; }
  /* line 39, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
  #header .divider {
    height: 100%;
    width: 1px;
    background-color: #d0d6e1; }
  /* line 44, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
  #header #btn-container {
    display: flex;
    align-items: center;
    margin: auto; }
    /* line 49, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
    #header #btn-container .button {
      width: 50%;
      padding: 10px 10px;
      border: 1px solid #d0d6e1;
      border-radius: 2px;
      cursor: default; }
    /* line 56, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
    #header #btn-container .button:hover {
      background-color: beige;
      color: #575b70; }
    /* line 60, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
    #header #btn-container .button + .button {
      margin-left: 10px; }
    /* line 63, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
    #header #btn-container .button-active {
      background-color: #b9b9b9;
      color: white; }

/* line 70, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
#content {
  margin: auto;
  margin-top: 20px;
  width: 90%;
  background-color: #ffffff;
  box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.64);
  border-radius: 3px; }
  /* line 78, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
  #content #search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 40px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d0d6e1; }
    /* line 88, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
    #content #search select {
      flex: 1 0 auto;
      height: 100%;
      color: black;
      font-size: 20px;
      border: none; }
      /* line 95, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
      #content #search select option {
        font-size: 20px; }
    /* line 99, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
    #content #search input {
      flex: 4 0 auto;
      height: 38px;
      font-size: 20px;
      color: black;
      border-left: 1px solid #d0d6e1;
      border-bottom: none;
      border-top: none;
      border-right: none; }
  /* line 111, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
  #content table {
    width: 100%; }
    /* line 114, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
    #content table th {
      font-weight: 900; }
    /* line 117, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
    #content table th:first-child {
      text-align: left; }
    /* line 120, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
    #content table td:not(:first-child) {
      text-align: center; }
  /* line 124, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
  #content .district {
    padding-left: 20px; }
  /* line 127, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
  #content .township {
    padding-left: 40px; }
  /* line 130, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
  #content .expand-data {
    display: inline-block;
    background-color: darkgray;
    color: white;
    padding: 3px;
    border-radius: 2px; }
  /* line 137, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
  #content .expand-data:after {
    content: "+";
    margin-left: 5px; }
  /* line 141, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
  #content .expand-data:hover {
    cursor: pointer;
    background-color: #8e8d8d; }
  /* line 145, C:/Users/patri/Desktop/wiredcraft-front-end-task/test-frontend/app/src/style/style.scss */
  #content .region-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: mediumpurple;
    color: white;
    margin: 5px 5px;
    text-align: center;
    border-radius: 20px; }

/*# sourceMappingURL=style.css.map */