@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$primary-color: #575b71;
$box-color: #ffffff;
$font-color: #575b70;
$divider-color: #d0d6e1;
$filter-font-color: #ACB3C3;
//distX, distY, blur, spread, color
$shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.64); 
$font-stack: Open Sans, sans-serif;

body {
    width: 100vw;
    height: 100vh;
    margin: 0; //Making the scroll bars disappear.
    background-color: $primary-color;
    font: 100% $font-stack;
    color: $font-color;
}

#header {
    display: flex;
    align-items: center; //aligning all items in the center of the header(y-axis)
    width: 100%;
    height: 56px;
    background-color: $box-color;
    box-shadow: $shadow;

    #logo {
        margin-left: 10px;
        padding: 0 10px;
        width: 30px;
    }
    #headline {
        font-size: 16px;
        margin-left: 10px;
        width: 70%;
    }
    .divider {
        height: 100%;
        width: 1px;
        background-color: $divider-color;
    }
    #btn-container {
        display: flex;
        align-items: center;
        margin: auto;

        .button {
            width: 50%;
            padding: 10px 10px;
            border: 1px solid $divider-color;
            border-radius: 2px;
            cursor: default;
        }
        .button:hover {
            background-color: beige;
            color: $font-color;
        } // Add a margin to the second button to make some space.
        .button + .button {
            margin-left: 10px;
        }
        .button-active {
            background-color: #b9b9b9;
            color: white;
        }
    }
}

#content {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    background-color: $box-color;
    box-shadow: $shadow;
    border-radius: 3px;
    
    #search{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        height: 40px;
        margin-bottom: 15px;
        border-bottom: 1px solid $divider-color;
    
        select{
            flex: 1 0 auto;
            height: 100%;
            color: black;
            font-size: 20px;
            border:none;
            
            option{
                font-size: 20px;
            }
        }
        input{
            flex: 4 0 auto;
            height: 38px;
            font-size: 20px;
            color: black;
            border-left: 1px solid $divider-color;
            border-bottom: none;
            border-top: none;
            border-right: none;
        }
    }
    
    table {
        width: 100%;

        th {
            font-weight: 900;
            border-bottom:  1px solid $divider-color;
        } //text alignment of the first th should be left
        th:first-child {
            text-align: left;
        } //all th elements but the first have their text aligned to the center
        td:not(:first-child) {
            text-align: center;
        }
        tr{
            height: 45px;
            border: 1px solid $divider-color;
        }
    }
    .district {
        padding-left: 20px;
    }
    .township {
        padding-left: 40px;
    }
    .expand-data {
        display: inline-block;
        background-color: darkgray;
        color: white;
        padding: 3px;
        border-radius: 2px;
        width: 120px;
    }
   .expand-data-active:after {
        content: "-" !important;
        margin-left: 5px;
    }
    .expand-data:after {
        content: "+";
        margin-left: 5px;
    }
    .expand-data:hover {
        cursor: pointer;
        background-color: #8e8d8d;
    }
    .region-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: mediumpurple;
        color: white;
        margin: 5px 5px;
        text-align: center;
        border-radius: 20px;
    }
}
