@import '../global';
$paddingLength: 600px;
$HeaderIconColor: #3bbb8d;
$iconSize: 48px;
$headerBcColor: #fff;
$headerHeight: 56px ;
$headerTitleColor: #575b71;
$selectedTabColor: #f0f2f8;

.HeaderTabsContainer{
  position: relative;
  box-shadow: 0 1px 1px #555;
  height: $headerHeight;
  background-color: $headerBcColor;
  text-align: left;

  .HeaderIcon{
    padding: 13px;
    color: $HeaderIconColor;
    border-right: 1px solid $borderColor;
  }

  .HeaderTitle{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: 73px;
    font-size: 1.3em;
    display: inline-block;
    color: $headerTitleColor;
    cursor: default;
  }
  .HeaderTabTiltle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .HeaderTab{
    border-left: 1px solid $borderColor;
    width: 200px;
    height: 100%;
    position: relative;
    float: right;
    cursor: pointer;

    &.selected{
      background-color: $selectedTabColor;
    }

    &:hover{
      background-color: $HeaderIconColor;
    }
  }


}
