.row {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: flex-start;
    text-decoration: none;
}
.item {
    color: #555;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.8em;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.small {
    width: 15%;
    padding-top: 15px;
    border-left: 1px solid #ccc;
}
.big {
    border-left: 0px;
    width: 40%;
    padding-left: 20px;
    text-align: left;
    display: flex;
    align-items: center;
}
.sb-avatar{
    margin-right: 10px;
}
.sb-avatar > div{
    font-size: 9px;
}
.download{
    margin-left: 10px;
    width: 20px;
    height: auto;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.nameLabel{
    margin-left: auto;
    margin-right: 10px;
    padding: 2px 2px;
    border-radius: 3px;
    background-color: #ddd;
}
.nameLabel > bold, .more, .less {
    font-weight: 600;
    margin-right: 5px;
    margin-left: 5px;
}
.more {
    display: inline-block;
    visibility: visible;
}
.less {
    display: none;
    visibility: hidden;
}
.state {
    margin: 0 0;
}