$backgrondColor: #575b71 !default;
$iconColor: #fff !default;
$placeHolderColor: #bac0cc !default;
$borderColor: #abadb8 !default;

$ContentAreaWidth: 1020px;

.VerticalAlign{
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
}

.VerHorAlign{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
