$paddingLength: 600px;
$iconSize: 48px;

body {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    padding: 0 0;
    margin: 0;
    .HeaderTitle{
      margin-top: 10px;
      color: #fff;
      cursor: default;
    }

    .HeaderTabsContainer{
      position: relative;
      padding-left: 600px;

      .HeaderIconButton{
        position: absolute;
        left: 0;
        color: #fff;
        margin-right: $paddingLength;
      }
      .HeaderTabArea{
        position: absolute;
        left: $iconSize;
        background-color: #00bcd4;
        width: $paddingLength;
        height: $iconSize;

        .HeaderTabs{
          position: relative;
        }
      }
    }
}
