/**
 * common css
 * by xiaoT
 */

@import './responsive.scss';
@import './layout.scss';
@import './icon.scss';
@import './form.scss';


/* reset */
* {
  box-sizing: border-box;;
}

input {
  border: none;
}
/* common css */
.loading {
  padding: 1rem;
  text-align: center;
}
