/**
 * form css
 * Thu Jul 23 14:11:30 2020
 * by xiaoT
 */

.form-item {
  background-color: #eaeaea;
  height: rem(36);
  padding: 0 rem(10);
  border-radius: rem(20);
  input {
    background-color: transparent;
    line-height: 1.5;
  }
}