head

  title Frontend test

  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="description", content="#{description}")
  meta(name="keywords", content="#{keywords}")
  meta(name="author", content="KateWu")

  block meta

  link(rel="stylesheet", href="styles/main.css")

  block styles