header
  
  .nav
    .nav-logo
      a(href="#")
        img(src="http://placehold.it/40x40/333333/ffffff&text=logo", alt="")

    .nav-title Reports

    .nav-menu
      ul
        li 
          a(href="#") Overall
        li.active 
          a(href="#") Specific