/* Color of background: #585a6f*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #585a6f;
}

li,
a,
button {
  font-family: sans-serif;
  font-weight: 500;
  color: 0;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}

.logo {
  cursor: pointer;
  vertical-align: middle;
  height: 5vh;
}

.title {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  /* Side by side link */
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: aqua;
}

.toggle-btn {
  margin-left: 20px;
  padding: 5px;
  display: inline;
}

.dl_logo {
  height: 20px;
  margin-left: 10px;
  display: inline-block;
}

/* Static table styling */

#title {
  text-align: center;
  font-family: arial, sans-serif;
}

.names {
  background-color: white;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 80%;
}

.names td,
.names th {
  border: 1px solid #ddd;
  padding: 8px;
}

.names tr:nth-child(even) {
  background-color: #f2f2f2;
}

.names tr:hover {
  background-color: #ddd;
}

.names th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}
