@value primaryColor from './color.css';

:global * {
  margin: 0;
  padding: 0;
}

:global html {
  box-sizing: border-box;
}

:global body {
  font-family: "Helvetica Neue", "Open Sans", sans-serif;
  color: primaryColor;
  background: primaryColor;
}

:global *, :global *:before, :global *:after {
  box-sizing: inherit;
}