body {
	margin: 0px;
	#root {
		height: 100vh;
		background-color: rgb(77,81,102);
		.table-content {
			width: 90vw;
			margin: 0 auto;
			height: auto;
			margin-top: 10vh;
		}
		.drop-menu{
			left: 0;
			top: 66px;
			z-index: 222;
		}
	}
}
