$color-white: #fff;

// button color: 
$color-gray-light: #F0F2F8; // when -> button active, selected background
$color-gray-medium: #DBDFEB;
$color-gray-dark: #81869C;

// colors for grid lines
$color-grid-light: #D0D6E1;


$color-primary: #575B71; // when -> text

$color-green: #3BBB8D; // download button
$color-purple: #897AD0; // region icon


// nav height
$nav-height: 5.6rem;