@import '../global';
$barHeight: 50px;
$ButtonHoverColor: #3bbb8d;
$SearchBarColor: #fff;

.SearchBar{
  height: $barHeight;
  position: relative;
  width: 100%;
  font-size: 1.1em;

  .barDropMenu{
    height: 100%;
    float: left;
    width: 140px;
    border-right: 1px solid $borderColor;

    .placeHolder{
      display: inline-block;
      color: $placeHolderColor;
      position: absolute;
      top: 50%;
      left: 17px;
      transform: translate(0%, -50%);
      cursor: default;
    }

    .dropMenuIcon{
      background-color: $SearchBarColor;
      position: absolute;
      top: 50%;
      left: 112px;
      transform: translate(0%, -50%);
      cursor: pointer;
    }

    .dropDownList{
      position: absolute;
      width: 141px;
      height: 50px;
      top: $barHeight;
      z-index: 9999;
    }
  }

  .TextInput{
    color: $placeHolderColor;
    margin-left: 5px;
    padding-left: 13px;
    float: left;
    border: 0;
    width: 80%;
    height: 50px;
  }

  .serachButton{
    background-color: $SearchBarColor;
    position: absolute;
    right: 13px;
    top: 13.5px;
    cursor: pointer;

    &:hover{
      color: $ButtonHoverColor;
    }
  }
}
