@import '../global';
$barHeight: 50px;

.SearchBar{
  margin: 0;
  height: $barHeight;
  border-top: 1px solid $borderColor;
  position: relative;

  .SearchBarDropMenu{
    float: left;
    width: 12%;
    border-right: 1px solid $borderColor;
  }

  .SearchBarTextInput{
    margin-left: 5px;
    float: right;
    width: auto;
  }
}
