.dropFilter {
  height: 45px;
  width: 120px;
  background: $tableBGcolor;
  border: 1px solid $borderColor;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: $tableFontSize;
  padding: 0.5em;

  //Changing the default dropdown arrow to custom
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
}
