//Styling adapted from https://codepen.io/wxiaojie45/pen/zwMjxE/

$activeColor: #f0f1f8;
$headerColor: #fff;

.header {
  width: 100%;
  height: 10vh;
  background-color: $headerColor;

  span {
    display: inline-block;
    height: 10vh;
    width: 15vw;
    line-height: 10vh;
    text-align: center;

    &.logo_left {
      width: 60px;
      border-right: 1px solid #ddd;
    }

    &.title_left {
      text-align: left;
      padding-left: 15px;
    }
  }

  .header_right {
    float: right;

    .active {
      background-color: $activeColor;
      border-width: 0 2px 0 2px;
      border-color: $borderColor;
      border-style: solid;
    }
  }
}
