$btn-color: #dbdfeb;

table {
  width: 84.5vw;
  margin: 0 auto;
  border-collapse: collapse;
  border-color: $borderColor;
  border-style: solid;
  border-width: 1px;
  background-color: $tableBGcolor;

  thead > tr {
    td {
      border-bottom-color: $borderColorTH;
      &:first-child {
        text-align: left;
        padding-left: 20px;
      }
    }
  }

  tr {
    td {
      border-color: $borderColor;
      border-style: solid;
      border-width: 0 2px 2px 0;
      padding: 10px 0;
      text-align: center;
      line-height: 30px;
      &:first-child {
        width: 40%;
        text-align: left;
      }
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(6) {
        width: 15%;
      }
    }
  }
}

.capital {
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 15px;
  color: $tableBGcolor;
  background-color: $capitalColor;
}

.capitalDist {
  margin-left: 50px;
}

.capitalTown {
  margin-left: 80px;
}

.dl_logo {
  height: 20px;
  margin-left: 15px;
  display: inline-block;
}

.toggle-btn {
  font-weight: bold;
  width: 96px;
  background-color: $btn-color;
  color: $backgroundColor;
  line-height: 20px;
  border-radius: 4px;
  margin-right: 30px;
  float: right;
  cursor: pointer;
}
