$backgroundColor: #585a6f;
$tableBGcolor: #fff;
$borderColor: #dbdee8;
$borderColorTH: #aaa9b7;
$fontFamily: "Trebuchet MS", Arial, Helvetica, sans-serif;
$tableFontSize: 16px;
$capitalColor: #975dd1;

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: $backgroundColor;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
}

/* Navbar styling */
@import "./_navbar";

/* tableFilter styling */

.tableFilter {
  @include flexCenter();
  margin-top: 50px;
}

/* dropFilter styling */
@import "./_dropFilter";

/* searchBox styling */
@import "./_searchBox";

/* Static table styling */
.toggle-btn {
  margin-left: 20px;
  padding: 5px;
  display: inline;
}

.dl_logo {
  height: 20px;
  margin-left: 10px;
  display: inline-block;
}

.capital {
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 15px;
  color: $tableBGcolor;
  background-color: $capitalColor;
}

.capitalDist {
  margin-left: 50px;
}

.capitalTown {
  margin-left: 80px;
}

table {
  width: 1016px;
  margin: 0 auto;
  border-collapse: collapse;
  border-color: $borderColor;
  border-style: solid;
  border-width: 1px;
  background-color: $tableBGcolor;

  thead > tr {
    td {
      border-bottom-color: $borderColorTH;
      &:first-child {
        text-align: left;
        padding-left: 20px;
      }
    }
  }

  tr {
    .districtRow {
      padding-right: 45px;
    }

    td {
      border-color: $borderColor;
      border-style: solid;
      border-width: 0 2px 2px 0;
      padding: 10px 0;
      text-align: center;
      line-height: 30px;
      &:first-child {
        width: 40%;
        text-align: left;
      }
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(6) {
        width: 15%;
      }
    }
  }

  .townshipRow {
    margin-left: 75px;
  }

  //closing bracket for table
}
