body {
  background-color: #585a6f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* Navbar styling */
.header {
  width: 100%;
  height: 10vh;
  background-color: #fff;
}

.header span {
  display: inline-block;
  height: 10vh;
  width: 15vw;
  line-height: 10vh;
  text-align: center;
}

.header span.logo_left {
  width: 60px;
  border-right: 1px solid #ddd;
}

.header span.title_left {
  text-align: left;
  padding-left: 15px;
}

.header .header_right {
  float: right;
}

.header .header_right .active {
  background-color: #f0f1f8;
  border-width: 0 2px 0 2px;
  border-color: #dbdee8;
  border-style: solid;
}

/* tableFilter styling */
.tableFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

/* dropFilter styling */
.dropFilter {
  height: 45px;
  width: 120px;
  background: #fff;
  border: 1px solid #dbdee8;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
}

/* searchBox styling */
.searchContainer {
  width: 75%;
  background-color: #fff;
}

.searchContainer .searchBox {
  width: 100%;
  height: 40px;
  background: url("../img/search_icon.png") right no-repeat;
  background-size: 45px;
}

/* Static table styling */
.toggle-btn {
  margin-left: 20px;
  padding: 5px;
  display: inline;
}

.dl_logo {
  height: 20px;
  margin-left: 10px;
  display: inline-block;
}

.capital {
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 15px;
  color: #fff;
  background-color: #975dd1;
}

.capitalDist {
  margin-left: 50px;
}

.capitalTown {
  margin-left: 80px;
}

table {
  width: 1016px;
  margin: 0 auto;
  border-collapse: collapse;
  border-color: #dbdee8;
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
}

table thead > tr td {
  border-bottom-color: #aaa9b7;
}

table thead > tr td:first-child {
  text-align: left;
  padding-left: 20px;
}

table tr .districtRow {
  padding-right: 45px;
}

table tr td {
  border-color: #dbdee8;
  border-style: solid;
  border-width: 0 2px 2px 0;
  padding: 10px 0;
  text-align: center;
  line-height: 30px;
}

table tr td:first-child {
  width: 40%;
  text-align: left;
}

table tr td:nth-child(2), table tr td:nth-child(3), table tr td:nth-child(4), table tr td:nth-child(6) {
  width: 15%;
}

table .townshipRow {
  margin-left: 75px;
}
/*# sourceMappingURL=App.css.map */