$backgroundColor: #585a6f;
$tableBGcolor: #fff;
$borderColor: #dbdee8;
$borderColorTH: #aaa9b7;
$fontFamily: "Trebuchet MS", Arial, Helvetica, sans-serif;
$tableFontSize: 16px;
$capitalColor: #975dd1;

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: $backgroundColor;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
}

/* Navbar styling */
@import "./_navbar";

/* tableFilter styling */

.tableFilter {
  @include flexCenter();
  margin-top: 50px;
}

/* dropFilter styling */
@import "./_dropFilter";

/* searchBox styling */
@import "./_searchBox";

/* Static table styling */
@import "./_table";
