html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--brand);
  * {
    box-sizing: border-box;
  }
}

main {
  height: 100%;
}

.view {
  width: 60rem;
  height: 80%;
  background-color: var(--white);
  border-radius: var(--border-radius);
  margin: 2.5rem auto 0;
}
