@import "../assets/sbaredStyles/breakpoints.scss";
// $small: 520px;
// $medium: 820px;
// $large: 1199px;
// $xlarge: 1200px;

.Data{
    height: 100vh;
    width: 100vw;
    background: #575B71;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Overall-White-Container {
    background: white;
    height: 95%;
    width: 90%;
    border-radius: 2px;
}