
@import "../assets/sbaredStyles/breakpoints.scss";
// $small: 520px;
// $medium: 820px;
// $large: 1199px;
// $xlarge: 1200px;

.Mobile-Data{
    height: 100%;
    width: 100%;
    background: #575B71;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Mobile-Overall-White-Container {
    background: white;
    height: 90%;
    width: 95%;
    border-radius: 2px;
    margin: 5vh 0;
}

.Mobile-Table-Header-Container{
    border-bottom: 1px solid #575B71;
}

.Mobile-Table-Header {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 2vw 0;
    padding: 0 0;
    .Mobile-Header-Region-Column, .Mobile-Header-Data-Columns {
        color: #575B71;
        font-family: sans-serif;
        display: flex;
        align-items: center;
    }
    .Mobile-Header-Region-Column {
        width: 33vw;
      }
    .Mobile-Header-Data-Columns {
        width: 13vw;
        text-align: center;
        display: flex;
        justify-content: center;
        border-left: 1px solid #F0F1F7;
        margin: 0 0;
        height: 3vh;
        padding: 2.5vh 0.5vw;
    }
}

.Mobile-filter {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #F0F1F7;
    input {
        border: none ;
        color: #999999;
        font-size: 1rem;
        width: 60%;
    }
    input::placeholder {
        color: #999999;
        padding-left: 1vw;
        
    }
    select {
        margin: 0 0; 
        color: #999999;
        font-size: 1rem;
        width: 30%;
        font-family: sans-serif;
    }
    .Mobile-input-class {
        border-right: 1px solid #F0F1F7;
        padding: 2vh 0;
    }
}

.Mobile-custom-select {
    font-family: sans-serif;
    border: none;
    background: none;
  }
  
  .Mobile-custom-select select {
    display: none; 

  }
  
  