$contentLength: 1020px;
@import '../global';

.ContentContainer{
  text-align: center;

  .ContentArea{
    margin-top: 40px;
    width: 1000px;
    text-align: left;
    display: inline-block;;
  }
}
