$contentLength: 1020px;
@import '../global';
$ContentAreaBcColor: #fff;


body{
  text-align: center;
  background-color: $backgrondColor;
  height: 100%;

  .ContentArea{
    background-color: $ContentAreaBcColor;
    box-shadow: 0 0 1px #000;
    margin-top: 40px;
    width: $ContentAreaWidth;
    text-align: left;
    display: inline-block;;
  }
}
