
body{
    margin : 0;
    padding: 0;
    background-color: #565b71;
}
nav {
    background-color: #ffffff;
    overflow: hidden;
}
nav span {
    display: inline-block;
    width: 140px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
nav .banner {
    margin-right: 280px;
    width: auto;
}
nav .selected {
    background-color: #f1f2f7;
    border-left: 1px solid #eceff8;
    border-right: 1px solid #eceff8 ;
}
.mainBody{
    position: absolute;
    width: 80%;
    top: 10%;
    left: 50%;
    transform: translate( -50% , 0%);
    background-color: #ffffff;

}