.table-row {
    height: 50px;
    border-top: 1px solid #abadb8;
    position: relative;

    .table-row-title {
        border-right: 1px solid #abadb8;
        width: 30%;
        height: 50px;
        float: right;
        position: relative;

        .tableRowTitleCommon {
            position: absolute;
            top: 50%;
            transform: translate(0%, -50%);
            -ms-transform: translate(0%, -50%);
            -webkit-transform: translate(0%, -50%);
        }

        .table-row-title-icon {
            @extend .tableRowTitleCommon;
            border-radius: 50%;
            background-color: #897ad0;
            text-align: center;
            width: 22px;
            height: 22px;
            cursor: default;

            p {
                @extend .tableRowTitleCommon;
                color: white;
                cursor: inherit;
            }
        }

        .table-row-title-region-name {
            @extend .tableRowTitleCommon;
            font-size: 1em;
            margin-left: 36px;
        }

        .table-row-title-button {
            margin-left: 137px;
            margin-top: 14.5px;
            padding-left: 2px;
            padding-top: 4px;
            background-origin: content-box;
            width: 22px;
            height: 18px;
            color: white;
            background-color: #3bbb8d;

            &:hover {
                cursor: default;
                color: #897ad0;
            }
        }

        .table-row-title-region-expand {
            float: right;
            padding: 9px 8px 9px 12px;
            margin: 10px 12px;
            background-color: #f0f2f8;
            font-size: 12px;
            width: 110px;
            position: relative;
            color: #8a8d9e;

            &:hover {
                background-color: #3bbb8d;
            }

            .table-row-title-region-expand-number {
                text-align: left;
                width: 20px;
                float: left;
            }

            .table-row-title-region-expand-division {
                float: left;
            }

            .table-row-title-region-expand-icon {
                float: right;
            }
        }
    }

    .table-row-last-input, .tableRowLastInput {
        border-right: 1px solid #abadb8;
        float: right;
        width: 14%;
        height: 50px;
        text-align: center;
        position: relative;

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            width: 100%;
        }
    }

    .table-row-form, .table-row-voter, .tableRowForm{
        @extend .tableRowLastInput;
        width: 16%;
    }

    .table-row-update {
        @extend .tableRowForm;
        border-right: 0;
    }

    .lIcon {
        float: right;
        margin-right: 11px;
        margin-top: 16px;
        fill: #bac0cc;
    }
}
