<!DOCTYPE html>
<html>

<head>
    <title>Myanmar Union Election Commission</title>
    <!-- Setting the viewport of the page. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <script src="../dist/lib/vue/vue.js"></script>
    <!-- Using defer to execute the script, once the has page finished loading, so addEventListener can be avoided. -->
    <script src="../src/js/data.js"></script>
    <script src="../src/js/app.js" defer></script>
</head>

<body>
    <div id="header">
        <img id="logo" src="res/img/uec.jpg">
        <div class="divider"></div>
        <div id="headline">Reports</div>
        <div id="btn-container">
            <div class="button button-active">Overall</div>
            <div class="button">Specific</div>
        </div>
    </div>
    <div id="content">
        <table>
            <thead>
                <tr>
                    <th>Region</th>
                    <th></th>
                    <th>Last input</th>
                    <th>Number of forms</th>
                    <th>Number of voters</th>
                    <th>Update</th>
                </tr>
            </thead>
            <template v-for="region in results.regions" :id="region.name">
                     <tbody>
                <tr>
                    <td> <div class="region-icon" >S</div>{{region.name}}
                    </td>
                    <td>
                        <div v-if="region.districts.length > 0" class="expand-data expand-data-active" v-on:click="changeDisplayLevel(region.name, 1)">
                            {{region.districts.length}} districts
                        </div>
                    </td>
                    <td>{{region.lastInput}}</td>
                    <td>{{region.numOfForms}}</td>
                    <td>{{region.numOfVoters}}</td>
                    <td>{{region.update}}</td>
                </tr>
                <template  v-for="district in region.districts">
                <tr v-if="region.level === 2 || region.level === 3">
                    <td class="district"> <div class="region-icon">D</div>{{district.name}}
                    </td>
                    <td>
                        <div v-if="region.districts.length > 0" class="expand-data expand-data-active" v-on:click="changeDisplayLevel(region.name, 2)">
                            {{district.townships.length}} townships
                        </div>
                    </td>
                    <td>{{district.lastInput}}</td>
                    <td>{{district.numOfForms}}</td>
                    <td>{{district.numOfVoters}}</td>
                    <td>{{district.update}}</td>
                </tr>
                    <tr v-for="township in district.townships" v-if="district.level === 3">
                    <td class="township"><div class="region-icon">T</div>{{township.name}}
                    </td>
                    <td>
                    </td>
                    <td>{{township.lastInput}}</td>
                    <td>{{township.numOfForms}}</td>
                    <td>{{township.numOfVoters}}</td>
                    <td>{{township.update}}</td>
                </tr>
                             </template>
            </tbody>
            </template>
            </tbody>
        </table>






    </div>
</body>

</html>
