<!DOCTYPE html>
<html>

<head>
    <title>Myanmar Union Election Commission</title>
    <!-- Setting the viewport of the page. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <script src="../dist/lib/vue/vue.js"></script>
    <!-- Using defer to execute the script, once the has page finished loading, so addEventListener can be avoided. -->
    <script src="../src/js/data.js"></script>
    <script src="../src/js/app.js" defer></script>
</head>

<body>
    <div id="header">
        <img id="logo" src="res/img/uec.jpg">
        <div class="divider"></div>
        <div id="headline">Reports</div>
        <div id="btn-container">
            <div class="button button-active">Overall</div>
            <div class="button">Specific</div>
        </div>
    </div>
    <div id="content">
        <table>
            <thead>
                <tr>
                    <th>Region</th>
                    <th></th>
                    <th>Last input</th>
                    <th>Number of forms</th>
                    <th>Number of voters</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="region in regions" :id="region.name">
                    <td> <div class="region-icon">S</div>{{region.name}}
                    </td>
                    <td>
                        <div v-if="region.districts.length > 0" class="expand-data expand-data-active">
                            {{region.districts.length}} districts
                        </div>
                    </td>
                    <td>{{region.lastInput}}</td>
                    <td>{{region.numOfForms}}</td>
                    <td>{{region.numOfVoters}}</td>
                    <td>{{region.update}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
