.componentBody {
    background-color: #fff;
    margin: 5% auto;
    padding: 0 0;
    width: 70%;
    border-radius: 3px 3px;
    box-shadow: 2px 2px 2px #555;
    min-width: 798px;
}
.table {
    width: 100%;
}
.name > div, .cell > div {
    text-decoration: none;
    color: #555;
    font-weight: 600;
    line-height: 1;
    margin: auto auto;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.8em;
    float: left;
    text-align: center;
    border-bottom: 3px solid #ccc;
}
.name > div {
    text-align: left;
    padding-left: 20px;
    width: 37%;
}
.cell > div {
    width: 15%;
    border-left: 1px solid #ccc;
}
