.componentBody {
    background-color: #fff;
    margin: 5% auto;
    padding: 0 0;
    width: 70%;
    border-radius: 3px 3px;
    box-shadow: 2px 2px 2px #555;
    min-width: 798px;
}
.row.head {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: 2px solid #ccc;
}
.item {
    text-decoration: none;
    color: #555;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.8em;
    text-align: center;
}
.small {
    width: 15%;
    border-left: 1px solid #ccc;
}
.big {
    border-left: 0px;
    width: 40%;
    padding-left: 20px;
    text-align: left;
}
