header-height = 60px
content-width = 1200px

.header
    background #fff
    height: header-height
    box-shadow: 0px 4px 58px 0px rgba(59,114,188,0.15);
.content
    width content-width
    height: 100%
    margin 0 auto
    display: flex
    justify-content: flex-end
    align-items: center
    :global
        .ant-input
            width: 200px
            background: #eaeaea
            border-radius: 20px
            border none
        .ant-input:focus
            border none
            box-shadow none


