/** 
 * @Author: Christiane Celeste 
 * @Date: 2019-05-22 21:25:01 
 * @Desc: Buttons and button styles 
 */

.button{
    &-collapse{
        width: 100%;
        padding: 5px 5px;
        background: $catskill-white;
        border-radius: 3px;
        max-width: 110px;
        font-size: 12px;
        border: none;
        color: $comet;

        .image-wrapper{
            text-align: right;
            justify-content: flex-end;
        }
    }
}