/** 
 * @Author: Christiane Celeste 
 * @Date: 2019-05-19 12:14:38 
 * @Desc:  Flexbox based layout and grid
 */

 @include update-screen(tiny-screens){
    .container{width: 300px;}
    .row{
        flex-direction: column;
        .mobile-row-direction{flex-direction: row;}
    }
    .row .col{padding: 0.5em;}
    body .not-mobile{display: none;}
}

@include update-screen(small-screens){
    .container{width: 360px;}
    .mobile-row-direction{flex-direction: row;}
}

@include update-screen(medium-screens){
    .container{width: 684px;}
    .row{flex-direction: row;}
    .row .col{padding: 0.75em;}
    body .not-mobile{display: flex;}
}

@include update-screen(large-screens){
    .container{width: 1020px;}
}

 @include update-screen(wide-screens){
    max-width: 2000px;
 }

.container{
    margin: 0 auto;
}

.row{
    display: flex;

    .col1{flex:1;}
    .col2{flex:2;}
    .col3{flex:3;}
    .col4{flex:4;}
    .col5{flex:5;}
    .col6{flex:6;}
}