/** 
 * @Author: Christiane Celeste 
 * @Date: 2019-05-19 13:33:20 
 * @Desc: Foundational styles 
 */


 body   {
     font-size: 14px;
     font-family: $open-sans;
     font-weight: $regular;
     color: $comet;
 }