/** 
 * @Author: Christiane Celeste 
 * @Date: 2019-05-19 12:13:15 
 * @Desc:  Nav items contained in the navbar
 */



 @include update-screen(tiny-screens){
    body .nav-buttons{
        box-sizing: border-box;
        
        li{
            box-sizing: content-box;
            border: 1px solid $athens-gray;
            display: block;
            height: initial;
            a{
                padding: 15px 0;
                text-align: center;
            }
        }
    }
 }
 
 @include update-screen(medium-screens){
     body .nav-buttons{
         box-sizing: border-box;
         
         li{
             box-sizing: content-box;
             border-left: 1px solid $athens-gray !important;
             border: none;
             display: inline-block;
             height: 100%;
         }
     }
 }
 

.nav{
    padding: 3px 0;
    align-items: center;
    padding-left: 20px;

    &-logo{
        max-width: 55px;
        justify-content: center;
        align-items: center;
        padding: 0 !important;
    }

    &-buttons{
        width:100%;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        height: 100%;
        li{
            box-sizing: content-box;
            padding: 0px 70px;
            height: 100%;
            border-left: 1px solid $athens-gray;
            &:first-child{
                background: $catskill-white;
            }
            a{
                padding-top:1em;
                display: block;
                text-decoration: none;
                color: inherit;
            }
        }
    }

    li{
        display: inline-block;
        list-style-type: none;
    }
}
