/** 
 * @Author: Christiane Celeste 
 * @Date: 2019-05-19 12:20:06 
 * @Desc:  
 */

.table{
    width: 100%;
    border-collapse: collapse;

    thead{
        tr{
            border: 1px solid darken($athens-gray, 15%);
        }
    }
    
    tbody{
        tr{
            border: 1px solid $athens-gray;
        }
    }

    tbody, thead{
        text-align: center;
        td, th{
            padding: 15px 10px;
            border-left: 1px solid $athens-gray;
            border-right: 1px solid $athens-gray;
        }
        
    }
}