/** 
 * @Author: Christiane Celeste 
 * @Date: 2019-05-19 12:20:06 
 * @Desc:  Table structure & row/column layout
 */

.table{
    width: 100%;
    border-collapse: collapse;

    tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }
    
    tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }

    thead{
        tr{
            border: 1px solid darken($athens-gray, 15%);
        }
    }
    
    tbody{
        tr{
            border-top: 1px solid $athens-gray;
        }
    }

    tbody, thead{
        text-align: center;
        td, th{
            padding: 15px 10px;

            &:not(:first-of-type){
                border-left: 1px solid $athens-gray;
            }

            &:not(:last-child){
                border-right: 1px solid $athens-gray;
            }
            
        }
        
    }
}