/** 
 * @Author: Christiane Celeste 
 * @Date: 2019-05-18 17:34:12 
 * @Desc:  
 */

 .bg-white{background: $white;}
 .bg-gun-powder{background: $gun-powder;}

 .border-rounded{border-radius: 3px;}
//  border-top-left-radius: 3px; For the table and input corners

 .align-left{text-align: left;}
 .align-right{text-align: right;}