/** 
 * @Author: Christiane Celeste 
 * @Date: 2019-05-18 17:34:12 
 * @Desc:  Base styles for general usage
 */

 .bg-white{background: $white;}
 .bg-gun-powder{background: $gun-powder;}
 .bg-dark{background: darken($catskill-white, 10%) !important;}
 .bg-light{background: $catskill-white !important;}

 .border-rounded{border-radius: 3px;}

.align-left{
     text-align: left;
     justify-content: flex-start;
}

.align-right{
     text-align: right;
     justify-content: flex-end;
}

.align-center{
    text-align: center;
    justify-content: center;
}