.layout {
    columns: 6 200px;
    column-gap: 15px;
    margin: 0 auto;
    max-width: 1275px;
    min-width: 415px;
    padding: 0 15px;
    padding-top: 18px;
}

.layout .masonry-item {
    width: 200px;
    margin: 0 0 15px 0;
    border-radius: 13px;
}

.layout.no-more {
    columns: unset;
}

.placeholder-text {
    color: #ccc;
    font-size: 32px;
    text-align: center;
    margin-top: 45%;
}