doctype
<!--[if IE 9]><html class="ie ie9 lte9"><![endif]-->
<!--[if !IE]><!--> 
html(lang="en") <!--<![endif]-->
  
  include ./includes/header

  body

    include ./includes/header-menu

    block content
      main
        .area-container#app-container

    include ./includes/footer