.icon
  display  inline-block
  vertical-align  middle
  
  &-tag
    width  26px
    height  26px
    border-radius 13px
    color #fff
    background-color  $icon-purple
    text-align      center
    line-height     26px
    
  &-search
    width 45px
    height 40px
    background url("../images/icon-search.png") center no-repeat

  &-download
    width 26px
    height 30px
    background url("../images/icon-download.png") center no-repeat
    
  &-prepend
    margin-right  10px   
  &-append
    margin-left  5px      