.icon
  display  inline-block
  
  &-tag
    width  26px
    height  26px
    border-radius 13px
    color #fff
    background-color  $icon-purple
    vertical-align  middle
    text-align      center
    line-height     26px
    
  &-prepend
    margin-right  10px   
    