/** 
 * @Author: Christiane Celeste 
 * @Date: 2019-05-18 16:27:49 
 * @Desc:  
 */

$white: #ffffff;
$fuschia-blue: #7260BE; // Row Icon
$ocean-green: #35AE7A; // Download Button
$gun-powder: #44485E; // Background
$catskill-white: #F0F2F8; // Nav Button Hover/Action(?) && Item Collapsed
$comet: #575B71; // Text Color
$athens-gray: #E5E6EA; // Table Filter Bottom Border
$blue-haze: #D3D7E6; // Item Open
