/** 
 * @Author: Christiane Celeste 
 * @Date: 2019-05-22 22:12:18 
 * @Desc: Main font theme 
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

// Font Families
$open-sans: 'Open Sans', sans-serif;

// Font Weights
$regular: 400;
$bold: 700;