.RegionBar{
  margin: 0;
  height: 42px;
  border-top: 1px solid #abadb8;
  position: relative;
  .RegionBarTitleArea{
    border-right: 1px solid #abadb8;
    width: 37%;
    height: 42px;
    float: left;
    p{
      margin-left: 18px;
    }

    .RegionBarTitleIcon{
      float: left;
      margin-top: 10px;
      display: inline-block;
      border-radius: 50%;
      background-color: #897ad0;
      text-align: center;
      padding-top: 2px;
      width: 22px;
      height: 22px;
      margin-left: 18px;
    }

    .RegionBarTitle{
      float: left;
      margin: 0;
      -webkit-transform: translateY(65%);
      -ms-transform: translateY(65%);
      transform: translateY(65%);
      font-size: 1em;
      margin-left: 15px;
      vertical-align: middle;
    }

    .RegionBarDownloadBtn{
      float: left;
      margin-left: 18px;
      margin-top: 9px;
      width: 22px;
      height: 22px;
      padding: 2px;
      background-color: #3bbb8d;
    }

    .RegionBarExpandBtn{
      float: right;
      background-color: black;
    }
  }

  .RegionBarDateArea{
    border-right: 1px solid #abadb8;
    float: left;
    width: 14%;
    height: 42px;
    text-align: center;
  }

  .RegionBarFormsArea{
    @extend .RegionBarDateArea;
    width: 16%;

  }

  .RegionBarVotersArea{
    @extend .RegionBarFormsArea;
  }
  .RegionBarUpdateArea{
    border-right: 0;
    @extend .RegionBarFormsArea;
  }
}
