.App {
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
    }
    .App {
        background-color: #121212;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
    }
    .App {
        background-color: #ffffff;
    }
}
