.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.header {
  height: 40px;
  padding: 0px 20px;
  box-shadow: 0px 2px 3px rgb(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__icon {
    color: rgb(0, 0, 0, .5);
    margin: 0px 5px;
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
  }
}

.search {
  position: relative;
  &__icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgb(0, 0, 0, .5);
  }
  &__input {
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: rgb(0, 0, 0, .1);
    padding-left: 32px;
  }
}

.image-list {
  padding: 40px;
  column-count: 2;
  @media screen and (min-width: 640px) {
    column-count: 4;
  }
  @media screen and (min-width: 1024px) {
    column-count: 6;
  }
  column-gap: 10px;
}

.image-wrapper {
  width: auto;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  img {
    border-radius: 10px;
  }
}

.pulse {
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  to {
    transform: scale(1);
  }
}