/**
 * Image css
 * Fri Jul 24 15:50:18 2020
 * by xiaoT
 */

.image-container {
  border-radius: rem(13);
  overflow: hidden;
  display: inline-block;
  background-color: #ccc;
  .image {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}