@import '../../styles/variables.scss';

.Nav {
  font-size: 1.6rem;
  color: $color-primary;

  & > * {
    display: inline-block;
    height: $nav-height; // can set a variable for this nav height
    line-height: $nav-height;
    box-sizing: border-box;

    &:not(:last-child) {
      border-right: 1px $color-grid-light solid;
    }
  }
  .profile {
    width: 10%;
    text-align: center;

    div {
      display: inline-block;
      vertical-align: middle;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      background: $color-gray-light;
      line-height: 4rem;
    }
  }

  .title {
    padding-left: 1.6rem;
    width: 60%;
  }

  a {
    text-align: center;
    width: 15%;
    cursor: pointer;

    &:link,
    &:visited {
      color: $color-primary;
      text-decoration: none;
    }
    &:active {
      background-color: $color-gray-light;
    }
  }
}

.Active {
  background-color: $color-gray-light;
}