$small: 520px;
$medium: 750px;
$large: 1199px;
$xlarge: 1200px;

@mixin breakpoint($bp) {
  @if $bp == small {
    @media (min-width: $small) {
      @content;
    }
  } @else if $bp == medium {
    @media (min-width: $medium) {
      @content;
    }
  } @else if $bp == large {
    @media (min-width: $large) {
      @content;
    }
  } @else if $bp == xlarge {
    @media (min-width: $xlarge) {
      @content;
    }
  } @else {
    @media (min-width: $bp) {
      @content;
    }
  }
}

