.table-filter {
	.drop-down-menu {
		.filter-attr {
			position: absolute;
			top: 50%;
			transform: translate(0%, -50%);
			-ms-transform: translate(0%, -50%);
			-webkit-transform: translate(0%, -50%);
			display: inline-block;
			color: #bac0cc;
			left: 17px;
			cursor: default;
		}
		.drop-down-menu-icon {
			position: absolute;
			top: 50%;
			transform: translate(0%, -50%);
			-ms-transform: translate(0%, -50%);
			-webkit-transform: translate(0%, -50%);
			background-color: white;
			left: 112px;
			cursor: pointer;
		}
		height: 100%;
		float: left;
		width: 140px;
		border-right: 1px solid #abadb8;
	}
	height: 50px;
	position: relative;
	width: 100%;
	font-size: 1.1em;
	.search-keywords {
		margin-left: 5px;
		padding-left: 13px;
		float: left;
		border: 0;
		width: 80%;
		height: 50px;
	}
	.search-button {
		background-color: white;
		position: absolute;
		right: 13px;
		top: 13.5px;
		cursor: pointer;
		&:hover {
			color: #3bbb8d;
		}
	}
}
